.footer-content {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background: linear-gradient(45deg, rgba(250,245,246,1) 20%, rgba(33,30,31,1) 92%);
}

.footer-content p {
  margin: 10px 0;
}

.footer-content a {
  margin: 0 5px;
  text-decoration: none;
  color: #0073b1; 
}


