#contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
  }
  
  .head {
    text-align: center;
    color: #333;
    font-size: 4rem;
  }
  
  .form-group {
    color: #ccc;
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input, textarea {
    padding: 0.5rem 5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #contact-info {
    text-align: center;
    margin-top: 2rem;
  }
  
  #contact-info a {
    color: #007BFF;
    text-decoration: none;
  }
  
  #contact-info a:hover {
    text-decoration: underline;
  }
  